<main id="maincontent">
  <body class="viewPage">
    <section class="video">
      <video class="video-container" controls>
        <source src="/{{post.video}}" type="video/mp4">
      </video>
      <h2> {{post.title}} </h2>
      <section class="description">
        <a> Posted By: {{post.username}} </a>
        <br />
        {{formatDateString post.createdAt}}<br /> <br />
        {{post.description}}
      </section>

      <h3> Comments </h3>
      <section class="commentSection">
        <div class="commentTextfield">
          <textarea name="comments" id="comments" placeholder="Leave a comment"></textarea><br>
          <i id="comment-button" class="comment-button" aria-hidden="true" data-postid="{{post.id}}">Comment</i>
        </div>
      </section>

      <script>
        document.getElementById("comment-button").addEventListener('click', function (ev) {
          let commentText = document.getElementById("comments").value;

          if (!commentText) return;
          console.log(ev.currentTarget.dataset.postid);

          fetch("/comments/create", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              postId: ev.currentTarget.dataset.postid,
              comment: commentText
            })
          })
            .then(response => {
              console.log(response);
              return response.json();
            })
            .then(data => {
              console.log(data);
              var comments = document.getElementById("commentsSection");
              let commentFragment = document.createElement("template");
              commentFragment.innerHTML = `<section class="commentSection">
                <h4 class="headerText"> {{data.username}} </h4>
                <span class="comment-date">${new Date().toLocaleDateString("en-US", { dateStyle: "long" })}</span>
                <p class="sectionContent">
                  ${data.commentText}
                </p>
              </section>`;
              comments.append(commentFragment.content.firstChild);
            })
            .catch(error => console.log(error));
        });
      </script>

      <div id="commentsSection" class="comments">
        {{#each post.comments}}
        <section class="commentSection">
          <h4 class="headerText"> {{this.username}} </h4>
          <span class="comment-date">{{formatDateString this.createdAt}}</span>
          <p class="sectionContent">
            {{this.text}}
          </p>
        </section>
        {{/each}}
      </div>
    </section>
  </body>
</main>
